@use "../util" as u;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
  color: var(--text-dark);
  font-family: u.$font;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
